@media (max-width: 576px) {
  .card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1; }
  #jjal-article #jjal-image {
    width: 100%; } }

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1; }
  #jjal-article #jjal-image {
    width: 100%; } }

@media (min-width: 768px) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2; }
  #jjal-article #jjal-image {
    width: 70%; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2; }
  #jjal-article #jjal-image {
    width: 60%; } }

@media (min-width: 1200px) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3; }
  #jjal-article #jjal-image {
    width: 50%; } }

html, body {
  height: 100%; }

.navbar .nav-header {
  display: inline-flex; }
  .navbar .nav-header .navbar-brand {
    position: relative;
    font-size: 1.8rem;
    letter-spacing: 6px;
    font-weight: 900;
    align-self: center; }

.navbar #collapsibleNavbar {
  font-weight: 200; }
  .navbar #collapsibleNavbar #collapsibleNav-item {
    letter-spacing: 1px; }

#Navbar-Status {
  position: relative; }
  #Navbar-Status #id {
    font-weight: 200;
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

.about .about-header {
  margin-left: 5px; }

.about .selector {
  display: block; }

.about select {
  width: 85px;
  height: 30px; }

#legend #legend-heading {
  color: black;
  font-size: 2.3rem;
  text-decoration: none; }

#legend #legend-heading:hover {
  color: skyblue; }

#legend .card-img-top {
  width: 150px;
  display: block;
  margin: 0 auto;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem; }

#legend .icon-count {
  font-size: 1rem; }
  #legend .icon-count span {
    margin-left: 3px; }

#legend .card-footer {
  color: black;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 11px; }

#legend a.card-links:hover {
  color: skyblue !important;
  text-decoration: none !important; }
  #legend a.card-links:hover .card {
    box-shadow: 1px 1px 8px 3px skyblue; }

#post .post-box {
  width: 100%; }

#post #post-heading {
  color: black;
  font-size: 2.3rem;
  text-decoration: none; }

#post #post-heading:hover {
  color: skyblue; }

#post #post-image-div {
  height: 400px;
  display: flex;
  justify-content: center; }

#post .card-body .list-inline-item {
  font-size: 0.9rem;
  padding-right: 0.4rem; }

#post .post-info .container .row {
  border-bottom: 1px rgba(82, 82, 82, 0.4) solid; }

#post .icon-count {
  font-size: 1rem; }
  #post .icon-count span {
    margin-left: 5px; }

#post .post-icon {
  border-top: 1px rgba(82, 82, 82, 0.4) solid;
  padding-top: 20px;
  margin-top: 20px; }
  #post .post-icon .list-inline-item {
    font-size: 1.3rem;
    padding-right: 1rem; }

#jjal #jjal-heading {
  color: black;
  font-size: 2.3rem;
  text-decoration: none; }

#jjal table {
  white-space: pre;
  font-size: 0.8rem; }

#jjal-article #jjal-article-heading {
  color: black;
  font-size: 2.3rem;
  text-decoration: none; }

#jjal-article .jjal-image {
  display: block;
  margin: 0 auto;
  padding-top: 1.4rem;
  padding-bottom: 2.5rem; }

#jjal-article .jjal-icon {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px rgba(82, 82, 82, 0.4) solid; }
  #jjal-article .jjal-icon .list-inline-item {
    font-size: 1.3rem;
    padding-right: 1rem; }

#life #life-heading {
  color: black;
  font-size: 2.3rem;
  text-decoration: none; }

#life table {
  white-space: pre;
  font-size: 0.8rem; }

#life-article #life-article-heading {
  color: black;
  font-size: 2.3rem;
  text-decoration: none; }

#life-article .life-image {
  display: block;
  margin: 0 auto;
  padding-top: 1.4rem;
  padding-bottom: 2.5rem; }

#life-article .life-icon {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px rgba(82, 82, 82, 0.4) solid; }
  #life-article .life-icon .list-inline-item {
    font-size: 1.3rem;
    padding-right: 1rem; }

#main-footer {
  border-top: 1px black solid; }
