html, body {
  height: 100%; }

.navbar .nav-header {
  display: inline-flex; }
  .navbar .nav-header .navbar-brand {
    position: relative;
    font-size: 1.8rem;
    letter-spacing: 6px;
    font-weight: 900;
    align-self: center; }

.navbar #collapsibleNavbar {
  font-weight: 200; }
  .navbar #collapsibleNavbar #collapsibleNav-item {
    letter-spacing: 1px; }

#Navbar-Status {
  position: relative; }
  #Navbar-Status #id {
    font-weight: 200;
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

.about .about-header {
  margin-left: 5px; }

.about .selector {
  display: block; }

.about select {
  width: 85px;
  height: 30px; }

.about #about-jb {
  width: 90%;
  margin-top: 40px; }

#main-footer {
  border-top: 1px black solid; }
